body{
    margin:0;
}
       /*for row*/
#container{
    width:100vw;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    /*if items overflow we use flex wrap property*/

    
}
.item{
    background-color: lightcoral;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}
/*for column*/
#container-2{
    margin-top: 30px;
    width:100vw;
    height: 100vh;
    background-color: rgb(173, 225, 230);
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    /*if items overflow we use flex wrap property*/

    
}